yeroth-erp-3-0.qrc
*.o
*.*~
qrc_*
.cproject
.project
.settings
.yeroth_erp_3_0
.qmake.stash
obj
*.bak
moc*
ui_*
*.dvi
*.tmp
*.aux
*.bbl
*.blg
*.ilg
*.ind
*.ilg
*.idx
*.aux
*.log
*.lot 
*.lof 
*.out 
*.toc
yr_sd_runtime_verif/.git
